.logo-container {
    width: 100px;
}

.logo-container > img {
    width: 100%;
}

.main-container {
    margin-top: 65px;
}

.form-container {
    max-width: 600px;
    margin: 10px auto;
}

.form-container h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.dropzone {
    border: 1px dashed #ced4da;
    border-radius: 5px;
    background: white;
}

#imageUpload {
    margin-bottom: 20px;
    min-height: 80px;
}

div.has-error > input {
    border: 1px solid #dc3545;
}

div.has-error > .form-text {
    color: #dc3545;
}

#successModal .fa-thumbs-up {
    font-size: 7.5rem;
    color: #2ebf2e;
}

#successModal .fa-thumbs-down {
    font-size: 7.5rem;
    color: #e13535;
}

#success-text {
    margin-top: 20px;
    font-size: 1.2rem;
}

.print_section {
    display: none;
}

@media print {
    .print_section {
        display: inline !important;
    }

    .modal-xl {
        width: 100% !important;
    }
    .swal-overlay {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.accordion-inner .product_row {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #d1cece;
}

#contact_us_btn {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50%;
    background-size: 120px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.image_area {
    position: relative;
}

.image_area img {
    display: block;
    max-width: 100%;
}

.preview_div,
.product_preview_div {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg {
    max-width: 1000px !important;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    /* transition: 0.5s ease; */
    width: 100%;
}

.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.img-container img {
    width: 100%;
}
.dataTables_filter input {
    border: 1px solid #17b948f1 !important;
}
.dataTables_processing {
    color: red !important;
    border: 1px solid red !important;
    top: 0% !important;
    margin-top: 100px !important;
}
.table-responsive {
    position: relative;
}
.disabled {
    pointer-events: none;
}
.footer_currency {
    cursor: pointer;
}
.currency_total_th {
    cursor: pointer;
}
.currency_total_td {
    cursor: pointer;
}
.table_totals {
    cursor: pointer;
}
.text-green {
    color: #34cea7;
}
.dz-progress {
    /* progress bar covers file name */
    display: none !important;
}
